{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="row no-gutters">
        <div class="col-md-1 col-sm-12 col-xs-12 left-nav-bar">
            <div class="left-nav-bar-logo">
                <div>Chat50</div>
            </div>
            <div>
                <button class="close-top-btn">&times;</button>
            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab"
                   aria-controls="v-pills-profile" aria-selected="true">
                    <i class="fa-regular fa-user"></i>
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">
                    <i class="fa-regular fa-message"></i>
                </a>
                <a class="nav-link" id="v-pills-contact-tab" data-toggle="pill" href="#v-pills-contact" role="tab"
                   aria-controls="v-pills-contact" aria-selected="false">
                    <i class="fa-solid fa-address-book"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="left-nav-bar-tab-content tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <div class="profiler-header">
                        <h4>Profile</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="avatar-wrapper">
                            <img class="avatar"
                                 src="{{ user.avatar if user.avatar else url_for('static', filename='/imgs/default-avatar.jpeg') }}"
                                 alt="">
                            <input type="file" name="avatar" class="avatar-input" id="avatar"/>
                            <i class="edit-avatar-btn fa-solid fa-pen-to-square"></i>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <h4>{{ user.username }}</h4>
                        <p>{{ user.email }}</p>
                    </div>
                    <div>
                        <button class="btn btn-primary w-100" id="update-avatar-btn">save</button>
                    </div>
                    <div class="mb-3 mt-5">
                        <div class="text-muted">Name</div>
                        <p>{{ user.username }}</p>
                    </div>

                    <div class="mb-3">
                        <div class="text-muted">Email</div>
                        <p>{{ user.email }}</p>
                    </div>
                    <div>
                        <div class="text-muted">Joined at</div>
                        <p>{{ user.created_at }}</p>
                    </div>

                    <div class="mt-5">
                        <a href="/logout" class="d-flex align-items-center">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <div class="text-muted mx-2">Log out</div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                     aria-labelledby="v-pills-messages-tab">
                    ...Messages
                </div>
                <div class="tab-pane fade" id="v-pills-contact" role="tabpanel"
                     aria-labelledby="v-pills-contact-tab">
                    ...Contacts
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="chat-container">
                <div class="chat-header">
                    <div class="chat-header-left">
                        <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                             class="chat-avatar">
                        <h4>Lilhuy</h4>
                    </div>
                </div>
                <div class="chat-main">
                    <div class="chat-element">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>

                    <div class="chat-element not-me">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>

                    <div class="chat-element not-me">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>

                    <div class="chat-element">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>

                     <div class="chat-element">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>

                     <div class="chat-element">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>

                     <div class="chat-element">
                        <div class="chat-element-avatar">
                            <img src="{{ url_for("static", filename="/imgs/default-avatar.jpeg") }}" alt="chater-avatar"
                                 class="chat-avatar">
                        </div>
                        <div class="chat-element-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, esse, unde! Consequuntur
                            doloribus fugit hic numquam obcaecati odio recusandae totam.
                        </div>
                    </div>
                </div>
                <div class="chat-footer"></div>
            </div>
        </div>
    </div>


{% endblock %}
